body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;

}

button[name="morning_in"] {
    background-color: #4CAF50;
    color: white;
}

button[name="morning_out"] {
    background-color: #f39c12;
    color: white;
}

button[name="afternoon_in"] {
    background-color: #3498db;
    color: white;
}

button[name="afternoon_out"] {
    background-color: #e74c3c;
    color: white;
}

button:hover {
    opacity: 0.8;
}
