body {
    font-family: Arial, sans-serif;
    background-color: #dbe2f4;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    padding: 15px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

form {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 80%;
    padding: 20px 100px 20px 15px;
    /* 0 sa left padding */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
}

input[type="text"]::placeholder {
    text-align: left;
    /* Sigurado nga wala */
    font-size: 16px;
    color: #888;
    padding-left: 0;
    /* Sigurado nga duol sa gilay-on sa input */
}



button {
    width: 50%;
    padding: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #009879;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0f7c66;
}

.morning_out,
.afternoon_out {
    background-color: rgba(231, 12, 12, 0.849);
}

.morning_out:hover {
    background-color: #920c0cea;
}

.afternoon_out:hover {
    background-color: #920c0cea;
}



/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



@media (max-width: 600px) {
    form {
        width: 70%;
    }
}