body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    padding: 15px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

form {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 20px 100px 20px 15px; /* 0 sa left padding */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
}

input[type="text"]::placeholder {
    text-align: left; /* Sigurado nga wala */
    font-size: 16px;
    color: #888;
    padding-left: 0; /* Sigurado nga duol sa gilay-on sa input */
}



button {
    width: 50%;
    padding: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #009879; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}
