body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}


.table-wrapper {
    max-width: 90%;
    margin: 0 auto; /* Centers the container horizontally */
    gap: 20px;

   
}



h3 {
    padding-left: 20px;
    color: black;
}

.dashboard-wrapper {
    max-width: 90%; /* Match the table wrapper */
    border-radius: 4px;
    background-color: #f8f9fa;
    margin: 0 auto 5px; /* Centers horizontally and adds bottom margin */
    display: flex;
    justify-content: space-between; /* Ensures spacing between title and buttons */
    align-items: center;
    height: 80px;
    padding: 0;
    margin-top: 20px;
}

.card i {
    font-size: 40px; /* Adjust icon size */
    margin-bottom: 10px; /* Space between icon and text */
    color: #869188;
    padding: 20px;
    border-radius: 50%; /* Make the icon background a perfect circle */
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}


.card {
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #f8f9fa;
 
}


.card.blue i{     
    color: #98bee0;
    background-color: #dfe4e0;
    width: 40px;
    height: 40px;
} 

.card.blue {
    display: flex; /* Gamiton ang flexbox */
    justify-content: center; /* I-center vertically */
    align-items: center; /* I-center horizontally */
}



.total-count {
    font-size: 60px; /* Adjust as needed */
    font-weight: bold;
    color: rgba(21, 71, 180, 0.74);
}

.label {
    font-size: 16px; /* Adjust as needed */
    text-align: left;
    margin-left: 3;
    margin-top: 30px;
  
}



.fa-users {
    font-size: 20px; /* Adjust icon size if needed */
    color: #000; /* Change color if necessary */
}


.card.green i{ 
    color: #28a745;
    background-color: #dfe4e0;
    width: 40px;
    height: 40px;
 } 

.card.red i{ 
    color: #d33f3f; 
    background-color: #dfe4e0;
    width: 40px;
    height: 40px;

} 

.card.orange i{ 
    color: #e67e22;
    background-color: #dfe4e0;
    width: 40px;
    height: 40px;

 } 



.card {
   
    color: white;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px; /* Adds gap between cards */
}

span {

text-align: left;
margin-bottom: 40px;
margin-left: 40px;
width: 100%;
color: rgb(65, 63, 63);
font-weight: bold;
}


