body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
   
}

.header-container, .form_wrapper {
    width: 90%;
    margin: 0 auto; /* Ensures both are centered */
}

h3 {
    padding-left: 20px;
}

.header-container {
    width: 90%;
    border-radius: 4px;
    background-color:  #f9f9f9;
    color: black;
    margin: 0 auto 5px; /* Centers horizontally and adds bottom margin */
    height: 80px;
    padding-right: 0; /* Remove unnecessary right padding */
    margin-top: 20px;
    display: flex;
    align-items: center;
}


.form_wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40vh;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #f9f9f9;
    color: black;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.time-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    margin-top: 40px;
}

.time-group {
    display: flex;
justify-content: center;
    align-items: center;
    width: 100%;
}

.time-group label {
    font-weight: bold;
    width: 30%;
    text-align: left;
}

.time-group input {
    width: 20%;
}

.time-group .end-label {
    text-align: right;
    width: 20%;
}

.set_time {
    background: #009879;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
}

button:hover {
    background: #0e5e4e;
}