body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-container, .form_wrapper {
    width: 90%;
    margin: 0 auto;
}

h3 {
    padding-left: 20px;
}

.header-container {
    width: 90%;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: black;
    margin: 20px auto 5px;
    height: 80px;
    display: flex;
    align-items: center;
}

.form_wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    min-height: 40vh;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #f9f9f9;
    color: black;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.time-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    margin-top: 40px;
}

.time-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.time-group label {
    font-weight: bold;
    width: 30%;
    text-align: left;
}

.time-group input {
    width: 40%;
}

.time-group .end-label {
    text-align: left;
    width: 15%;
}

.set_time {
    background: #009879;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
}

.set_time:hover {
    background: #0e5e4e;
}

/* CSS for Success Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #333; /* Add this line to set the text color */
    margin-left: 50%;
    margin-right: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* CSS for Success Modal with Icon */
.modal-content p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.modal-content .fas {
    margin-right: 10px;
    color: green;
    font-size: 24px;
}
