/* Sidebar Styles */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #222d33; /* Dark background color */
    color: #fff; /* White text for contrast */
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    text-align: center;
    padding-bottom: 40px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    text-align: left;
}

.sidebar ul li button {
    width: 100%;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    text-align: left;
    background-color: #222d33; /* Sidebar button same as sidebar bg */
    color: #fff;
}

.sidebar ul li button:hover {
    background-color: #00745e; /* Darker shade of green */
    transform: translateY(-2px); /* Slight lift effect */
    box-shadow: 0 4px 8px rgba(0, 152, 121, 0.3); /* Softer glow effect */
}

/* Apply background color to the entire page */
body {
    margin-left: 250px; /* Offset for the sidebar */
    color: #fff; /* Ensure text is readable */
}
